*{
    font-family: "Roboto-Regular", helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 0 200px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul{
    list-style: none;
    padding: none;
}

.links > ul {
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.section1{
    display: flex;
    background-color: #1f2937;
    padding: 100px 200px;
    justify-content: center;
    gap: 60px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.hero > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero > p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

/* .hero > button {
    flex: 0 1 0;
} */

.hero-image{
    flex: 0 0 auto;
    width: 500px;
    height: 200px;
    background-color: #818c92;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > button {
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    color: #f9faf8;
    font-size: large;
    font-weight: 600;
    border: none;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.section2 > h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.images > div > p {
    width: 150px;
}

.card{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    box-sizing: border-box;
}

.section3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px;
}

.section3 > p:first-child {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.section3 > p:last-child {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin: 0 50px;
}

.section4{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 40px 100px;
    border-radius: 10px;
    justify-content: space-between;
}

/* .section4 > div {
    display: flex;
    flex-direction: column;
} */

.section4 > div > p:first-child {
    margin: 0;
    color:#f9faf8;
    font-size: 24px;
}

.section4 > div > p:last-child {
    margin: 0;
    color: #e5e7eb;
}

.section4 > button {
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #f9faf8;
    background-color: transparent;
    padding: 5px 30px;
    border-radius: 8px;
    align-self: center;
}